/* HTML and Body styles */
html, body {
    background-color: #98e8ef;
}

/* Header styles */
.nav {
    background-color: #879D9D;
}

/* Main styles */
.steps {
    background-color: #f1f3f0;
}

.steps h3 {
    background-color: #241628;
    color: #f1f3f0;

}

/* Footer styles */

