/* HTML and Body layout */
html, body {
    width: 100%;
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    background-color: #85cfcb;
    filter: brightness(110%);
}

/* Header layout */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 5%;
}

.header {
    background: url(../images/logoBackground.png) no-repeat center;
    background-size: cover;
    margin: auto;
    filter: brightness(105%);
}

 .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .65em;
 }

 .logo img {
     width: 20%;
 }

 
.nav {
    display: flex;
    position: absolute;
    top: 70px;
    width: 40%;
    height: 350px;
    transition: margin-left 400ms;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
}


.nav a {
    text-decoration: none;
    font-weight: bold;
}

.nav-active {
    right: 0;
    background-color: #85cfcb;
    border-style: double;
    border-color: #241628;
    border-radius: 30px;
}

.nav-close {
    display: none;
}

.burger {
    display: block;
    padding-right: 30px;
    padding-left: 10px;
}

/* Main layout */
h1 {
    text-align: center;
    font-weight: 300;
}

.summary {
    text-align: center;
    margin: 2em 3em;
}

button {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    margin-left: 25px;
}

.steps {
    display: flex;
    flex-flow: column;
    margin: 2em 1em;
    filter: drop-shadow(0 0 0.8rem #241628);
    border-radius: 30px;
    background-color: #f1f3f0;
}

.steps h3 {
    padding: 1em 2em;
    text-align: center;
    margin-top: 0;
    border-radius: 30px 30px 0 0;
    background-color: #464152;
    color: #f1f3f0;
    font-weight: 300;
}

.steps img {
    border-radius: 0 0 30px 30px;
}

.steps ul, .steps p {
    margin: 0 .75em 1em;
}

.sideBar {
    display: none;
}
 
/* Footer layout */
footer {
    text-align: center;
    padding: 1em .5em;
    background-color: #464152;
    color: #f1f3f0;
}

/* Tablet layout */
@media screen and (min-width: 550px) {
    header {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 30px;
    }

    .nav {
        display: flex;
        position: relative;
        right: auto;
        top: auto;
        height: 70px;
        flex-direction: row;
        align-items: center;
        width: 80%;
        padding: 0;
    }

    .navlink {
        list-style-type: none;
    }

    .navlink a {
        color: #3a3437;
        text-decoration: none;
        font-size: 1.2em;
    }

    .navlink a:hover {
        font-weight: bold;
    }
    
    .logo {
        justify-content: center;
        font-size: 1.5em;
    }

    .logo img {
        margin-top: 8px;
    }

    .burger {
        font-size: 2em;
        display: none;
    }
}

/* Desktop layout */
@media screen and (min-width: 900px) {

    .logo {
        justify-content: center;
        font-size: 2em;
    }

    .sideBarWrap {
        display: flex;
        flex-direction: row;
    }

    .sideBar {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
}