/* HTML and Body styles */
html, body {
    background-color: #85cfcb;
    filter: brightness(110%);
}

/* Header styles */
.nav-active {
    background-color: #85cfcb;
    border-style: double;
    border-color: #241628;
    border-radius: 30px;
}

/* Main styles */
.steps {
    background-color: #f1f3f0;
}

.steps h3 {
    background-color: #241628;
    color: #f1f3f0;

}

/* Footer styles */

