/* HTML and Body styles */
html, body {
    background-color: #fff;
}

/* Header styles */
.nav {
    background-color: #d2a39e;
}

/* Main styles */
.steps {
    background-color: #aea0ac;
    color: #3A3437;
}

.steps h3 {
    background-color: #006987;
    color: #aea0ac;

}

/* Footer styles */

