/* HTML and Body styles */
html, body {
    background-color: #879D9D;
}

/* Header styles */
.nav {
    background-color: #879D9D;
}

/* Main styles */
.steps {
    background-color: #879D9D;
}

.steps h3 {
    background-color: #241628;
    color: #879D9D;

}

/* Footer styles */

